body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:640px;
  height:360px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:337px;
  width:26px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:257px;
  width:26px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:473px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:167px;
  width:660px;
  height:473px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:120px;
  width:660px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:126px;
  width:113px;
  height:36px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:36px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:167px;
  width:116px;
  height:36px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:36px;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:207px;
  width:615px;
  height:193px;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:33px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:513px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:473px;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:102px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:40px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:33px;
  width:513px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:73px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:103px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:133px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:163px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:163px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
