body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:640px;
  height:360px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:337px;
  width:26px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:257px;
  width:26px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:473px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:167px;
  width:660px;
  height:473px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:120px;
  width:660px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:126px;
  width:113px;
  height:36px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:36px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:167px;
  width:116px;
  height:36px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:36px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:207px;
  width:615px;
  height:193px;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:33px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:513px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:473px;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:102px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:40px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:33px;
  width:513px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:73px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:103px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:133px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:163px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:30px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:163px;
  width:513px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:473px;
  word-wrap:break-word;
}
