body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:360px;
  height:640px;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:120px;
  width:360px;
  height:640px;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:830px;
  width:360px;
  height:640px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:410px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:440px;
  width:0px;
  height:0px;
}
#u944_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u944_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u944_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:470px;
  width:0px;
  height:0px;
}
#u945_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:684px;
}
#u945_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:676px;
  width:144px;
  height:8px;
}
#u945_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u945_seg3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:670px;
  width:20px;
  height:20px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:400px;
  width:100px;
  word-wrap:break-word;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:440px;
  width:0px;
  height:0px;
}
#u946_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u946_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u946_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:830px;
  width:0px;
  height:0px;
}
#u947_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u947_seg1 {
  border-width:0px;
  position:absolute;
  left:-614px;
  top:-34px;
  width:618px;
  height:8px;
}
#u947_seg2 {
  border-width:0px;
  position:absolute;
  left:-614px;
  top:-70px;
  width:8px;
  height:44px;
}
#u947_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u947_seg4 {
  border-width:0px;
  position:absolute;
  left:-620px;
  top:-77px;
  width:20px;
  height:20px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
