body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:360px;
  height:640px;
}
#u1603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:120px;
  width:360px;
  height:640px;
}
#u1604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:830px;
  width:360px;
  height:640px;
}
#u1605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:410px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:440px;
  width:0px;
  height:0px;
}
#u1607_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u1607_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1607_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1607_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:470px;
  width:0px;
  height:0px;
}
#u1608_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:684px;
}
#u1608_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:676px;
  width:144px;
  height:8px;
}
#u1608_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1608_seg3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:670px;
  width:20px;
  height:20px;
}
#u1608_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:400px;
  width:100px;
  word-wrap:break-word;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:440px;
  width:0px;
  height:0px;
}
#u1609_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1609_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1609_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:830px;
  width:0px;
  height:0px;
}
#u1610_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u1610_seg1 {
  border-width:0px;
  position:absolute;
  left:-614px;
  top:-34px;
  width:618px;
  height:8px;
}
#u1610_seg2 {
  border-width:0px;
  position:absolute;
  left:-614px;
  top:-70px;
  width:8px;
  height:44px;
}
#u1610_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1610_seg4 {
  border-width:0px;
  position:absolute;
  left:-620px;
  top:-77px;
  width:20px;
  height:20px;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
