body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:400px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:640px;
  height:400px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:400px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:120px;
  width:640px;
  height:400px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:400px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:610px;
  width:640px;
  height:400px;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:290px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:320px;
  width:0px;
  height:0px;
}
#u1548_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u1548_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1548_seg2 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:320px;
  width:0px;
  height:0px;
}
#u1549_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u1549_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1549_seg2 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:350px;
  width:0px;
  height:0px;
}
#u1550_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:464px;
}
#u1550_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:456px;
  width:194px;
  height:8px;
}
#u1550_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1550_seg3 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:450px;
  width:20px;
  height:20px;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:315px;
  width:100px;
  word-wrap:break-word;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:610px;
  width:0px;
  height:0px;
}
#u1551_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u1551_seg1 {
  border-width:0px;
  position:absolute;
  left:-1004px;
  top:-34px;
  width:1008px;
  height:8px;
}
#u1551_seg2 {
  border-width:0px;
  position:absolute;
  left:-1004px;
  top:-90px;
  width:8px;
  height:64px;
}
#u1551_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1551_seg4 {
  border-width:0px;
  position:absolute;
  left:-1010px;
  top:-97px;
  width:20px;
  height:20px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:-565px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
