body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:397px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:550px;
  width:635px;
  height:397px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:397px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:635px;
  height:397px;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:397px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:120px;
  width:223px;
  height:397px;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:397px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:550px;
  width:223px;
  height:397px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:460px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u935_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u935_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-34px;
  width:8px;
  height:38px;
}
#u935_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-34px;
  width:14px;
  height:8px;
}
#u935_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u935_seg4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-40px;
  width:20px;
  height:20px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:890px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u936_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u936_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-145px;
  width:8px;
  height:149px;
}
#u936_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-145px;
  width:14px;
  height:8px;
}
#u936_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u936_seg4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-151px;
  width:20px;
  height:20px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
