body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:397px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:550px;
  width:635px;
  height:397px;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:397px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:635px;
  height:397px;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:397px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:120px;
  width:223px;
  height:397px;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:397px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:550px;
  width:223px;
  height:397px;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:460px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1085_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u1085_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-34px;
  width:8px;
  height:38px;
}
#u1085_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-34px;
  width:14px;
  height:8px;
}
#u1085_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1085_seg4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-40px;
  width:20px;
  height:20px;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:890px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1086_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u1086_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-145px;
  width:8px;
  height:149px;
}
#u1086_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-145px;
  width:14px;
  height:8px;
}
#u1086_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1086_seg4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-151px;
  width:20px;
  height:20px;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
