body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:400px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:120px;
  width:640px;
  height:400px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:400px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:120px;
  width:640px;
  height:400px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:400px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:610px;
  width:640px;
  height:400px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:290px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:320px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u190_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u190_seg2 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:320px;
  width:0px;
  height:0px;
}
#u191_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u191_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u191_seg2 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-10px;
  width:20px;
  height:20px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:350px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:464px;
}
#u192_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:456px;
  width:194px;
  height:8px;
}
#u192_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u192_seg3 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:450px;
  width:20px;
  height:20px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:315px;
  width:100px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:610px;
  width:0px;
  height:0px;
}
#u193_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u193_seg1 {
  border-width:0px;
  position:absolute;
  left:-1004px;
  top:-34px;
  width:1008px;
  height:8px;
}
#u193_seg2 {
  border-width:0px;
  position:absolute;
  left:-1004px;
  top:-90px;
  width:8px;
  height:64px;
}
#u193_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u193_seg4 {
  border-width:0px;
  position:absolute;
  left:-1010px;
  top:-97px;
  width:20px;
  height:20px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:-565px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1770px;
  top:290px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:320px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u195_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u195_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u195_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
